In [1]:
# Dependencies
import pandas as pd
from config import api_key
import requests
import json
from pprint import pprint

In [2]:
# Read csv file
data1 = pd.read_csv("Postcodes APVI.csv")
data1.head()

,postcode,instals,estimated_dwellings,density,capacity,capunder10,cap10_100,capover100,countunder10,count10_100,countover100,pot_kw,pot_sqm,pot_gwh
0,800,123,204,34.8,3348,405,2699,244,71,51,1,32376,"207,209",48.4
1,810,3730,10091,35.5,26749,19774,5466,1509,3587,141,2,198075,"1,267,682",297.7
2,812,2060,6486,30.7,13641,11034,2142,465,1993,65,2,101247,"647,978",151.9
3,820,1297,5607,20.0,19964,6959,6752,6253,1123,170,4,188975,"1,209,440",286.2
4,822,1092,9101,9.7,18423,5735,6354,6334,887,194,11,140603,"899,862",214.0

In [4]:
# Change the postcode datatype to sring to pad 0 in front of NT postcodes (Geoapify does not recognise 3 digit postcodes)
data1["postcode"]= data1["postcode"].astype(str)

In [5]:
# Add number 0 to NT postcodes and check all data
data1["postcode"] = data1["postcode"].str.rjust(4, '0')
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   postcode             2620 non-null   object
 1   instals              2620 non-null   int64
 2   estimated_dwellings  2620 non-null   int64
 3   density              2528 non-null   float64
 4   capacity             2620 non-null   int64
 5   capunder10           2620 non-null   int64
 6   cap10_100            2620 non-null   int64
 7   capover100           2620 non-null   int64
 8   countunder10         2620 non-null   int64
 9   count10_100          2620 non-null   int64
 10  countover100         2620 non-null   int64
 11  pot_kw               2620 non-null   int64
 12  pot_sqm              2620 non-null   object
 13  pot_gwh              2620 non-null   float64
dtypes: float64(2), int64(10), object(2)
memory usage: 286.7+ KB

In [6]:
data2 = pd.read_csv("australian_postcodes.csv")
data2.head()

,id,postcode,locality,state,long,lat,dc,type,status,sa3,...,MMM_2019,ced,altitude,chargezone,phn_code,phn_name,lgaregion,lgacode,electorate,electoraterating
0,230,200,ANU,ACT,149.11900,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,1.0,NaN,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN
1,21820,200,Australian National University,ACT,149.11890,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,1.0,NaN,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN
2,232,800,DARWIN,NT,130.83668,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan
3,24049,800,DARWIN CITY,NT,130.83668,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,2.0,NaN,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan
4,233,801,DARWIN,NT,130.83668,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,2.0,NaN,NaN,NT1,PHN701,NaN,Darwin Waterfront Precinct,71150.0,Lingiari,Rural

In [7]:
data2["postcode"]= data2["postcode"].astype(str)
data2["postcode"] = data2["postcode"].str.rjust(4, '0')
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18513 entries, 0 to 18512
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 18513 non-null  int64
 1   postcode           18513 non-null  object
 2   locality           18513 non-null  object
 3   state              18513 non-null  object
 4   long               18513 non-null  float64
 5   lat                18513 non-null  float64
 6   dc                 17924 non-null  object
 7   type               16879 non-null  object
 8   status             18485 non-null  object
 9   sa3                18380 non-null  float64
 10  sa3name            18380 non-null  object
 11  sa4                18380 non-null  float64
 12  sa4name            18380 non-null  object
 13  region             18513 non-null  object
 14  Lat_precise        18513 non-null  float64
 15  Long_precise       18513 non-null  float64
 16  SA1_MAINCODE_2011  18504 non-null  float64
 17  SA1_MAINCODE_2016  18504 non-null  float64
 18  SA2_MAINCODE_2016  18504 non-null  float64
 19  SA2_NAME_2016      18504 non-null  object
 20  SA3_CODE_2016      18504 non-null  float64
 21  SA3_NAME_2016      18504 non-null  object
 22  SA4_CODE_2016      18504 non-null  float64
 23  SA4_NAME_2016      18504 non-null  object
 24  RA_2011            18504 non-null  float64
 25  RA_2016            18504 non-null  float64
 26  MMM_2015           18504 non-null  float64
 27  MMM_2019           18504 non-null  float64
 28  ced                17711 non-null  object
 29  altitude           12191 non-null  float64
 30  chargezone         18421 non-null  object
 31  phn_code           18200 non-null  object
 32  phn_name           17865 non-null  object
 33  lgaregion          18512 non-null  object
 34  lgacode            18507 non-null  float64
 35  electorate         18430 non-null  object
 36  electoraterating   16929 non-null  object
dtypes: float64(17), int64(1), object(19)
memory usage: 5.2+ MB

In [8]:
data2.to_csv("Australian Postcodes new.csv")

In [5]:
# Create empty columns for Latitude & Longtidue


data["Lat"] = ""
data["Lon"] = ""

data.head()

,postcode,instals,estimated_dwellings,density,capacity,capunder10,cap10_100,capover100,countunder10,count10_100,countover100,pot_kw,pot_sqm,pot_gwh,Lat,Lon
0,800,123,204,34.8,3348,405,2699,244,71,51,1,32376,"207,209",48.4,,
1,810,3730,10091,35.5,26749,19774,5466,1509,3587,141,2,198075,"1,267,682",297.7,,
2,812,2060,6486,30.7,13641,11034,2142,465,1993,65,2,101247,"647,978",151.9,,
3,820,1297,5607,20.0,19964,6959,6752,6253,1123,170,4,188975,"1,209,440",286.2,,
4,822,1092,9101,9.7,18423,5735,6354,6334,887,194,11,140603,"899,862",214.0,,

In [40]:
# Define the API parameters
params = {
    "apiKey":api_key,
    "type": "postcode",
    "filter":"countrycode:au",
    "format":"json"}

# Set the base URL
base_url = "https://api.geoapify.com/v1/geocode/search"

In [48]:
# Loop through the DataFrame and search coordinates for each postcode
for index, row in data.iterrows():

# Get the postcode to the string so geoapify finds the correct postcode
    postcode = row["postcode"]

    # Add the current postcode to the parameters
    params["text"] = postcode

    # Make the API request
    response = requests.get(base_url, params=params)
    
    # Convert reponse to JSON
    response = response.json()
    
    # Extract latitude and longitude
    if "results" in response and len(response["results"]) > 0:
        data.loc[index, "Lat"] = response["results"][0]["lat"]
        data.loc[index, "Lon"] = response["results"][0]["lon"]
    else:
        print(f"No results found for postal code {postcode}")

# Display sample data to confirm that the coordinates appear
data.head()

No results found for postal code 0834
No results found for postal code 0840
No results found for postal code 0853
No results found for postal code 0874
No results found for postal code 0875
No results found for postal code 3200
No results found for postal code 3271
No results found for postal code 3279
No results found for postal code 3322
No results found for postal code 3323
No results found for postal code 3345
No results found for postal code 3415
No results found for postal code 3432
No results found for postal code 3433
No results found for postal code 3447
No results found for postal code 3464
No results found for postal code 3475
No results found for postal code 3482
No results found for postal code 3487
No results found for postal code 3489
No results found for postal code 3520
No results found for postal code 3521
No results found for postal code 3522
No results found for postal code 3529
No results found for postal code 3542
No results found for postal code 3559
No results found for postal code 3562
No results found for postal code 3563
No results found for postal code 3565
No results found for postal code 3567
No results found for postal code 3570
No results found for postal code 3572
No results found for postal code 3581
No results found for postal code 3583
No results found for postal code 3589
No results found for postal code 3590
No results found for postal code 3591
No results found for postal code 3594
No results found for postal code 3596
No results found for postal code 3614
No results found for postal code 3622
No results found for postal code 3623
No results found for postal code 3624
No results found for postal code 3633
No results found for postal code 3637
No results found for postal code 3639
No results found for postal code 3640
No results found for postal code 3641
No results found for postal code 3662
No results found for postal code 3665
No results found for postal code 3670
No results found for postal code 3682
No results found for postal code 3695
No results found for postal code 3704
No results found for postal code 3705
No results found for postal code 3715
No results found for postal code 3718
No results found for postal code 3728
No results found for postal code 3744
No results found for postal code 3751
No results found for postal code 3778
No results found for postal code 3816
No results found for postal code 3822
No results found for postal code 3823
No results found for postal code 3832
No results found for postal code 3835
No results found for postal code 3852
No results found for postal code 3856
No results found for postal code 3857
No results found for postal code 3864
No results found for postal code 3869
No results found for postal code 3870
No results found for postal code 3873
No results found for postal code 3878
No results found for postal code 3886
No results found for postal code 3887
No results found for postal code 3893
No results found for postal code 3895
No results found for postal code 3903
No results found for postal code 3918
No results found for postal code 3926
No results found for postal code 3929
No results found for postal code 3942
No results found for postal code 3944
No results found for postal code 3954
No results found for postal code 3957
No results found for postal code 3958
No results found for postal code 3964
No results found for postal code 3966
No results found for postal code 3967
No results found for postal code 3979
No results found for postal code 3980
No results found for postal code 3987
No results found for postal code 3988
No results found for postal code 3990
No results found for postal code 3991
No results found for postal code 3992
No results found for postal code 4271
No results found for postal code 4345
No results found for postal code 4347
No results found for postal code 4353
No results found for postal code 4359
No results found for postal code 4363
No results found for postal code 4364
No results found for postal code 4365
No results found for postal code 4371
No results found for postal code 4372
No results found for postal code 4374
No results found for postal code 4378
No results found for postal code 4384
No results found for postal code 4388
No results found for postal code 4400
No results found for postal code 4401
No results found for postal code 4403
No results found for postal code 4404
No results found for postal code 4406
No results found for postal code 4408
No results found for postal code 4411
No results found for postal code 4412
No results found for postal code 4416
No results found for postal code 4417
No results found for postal code 4418
No results found for postal code 4421
No results found for postal code 4422
No results found for postal code 4423
No results found for postal code 4424
No results found for postal code 4425
No results found for postal code 4426
No results found for postal code 4427
No results found for postal code 4461
No results found for postal code 4462
No results found for postal code 4468
No results found for postal code 4482
No results found for postal code 4491
No results found for postal code 4494
No results found for postal code 4496
No results found for postal code 4497
No results found for postal code 4498
No results found for postal code 4517
No results found for postal code 4562
No results found for postal code 4606
No results found for postal code 4608
No results found for postal code 4611
No results found for postal code 4612
No results found for postal code 4626
No results found for postal code 4627
No results found for postal code 4674
No results found for postal code 4676
No results found for postal code 4678
No results found for postal code 4697
No results found for postal code 4699
No results found for postal code 4704
No results found for postal code 4705
No results found for postal code 4706
No results found for postal code 4707
No results found for postal code 4709
No results found for postal code 4711
No results found for postal code 4712
No results found for postal code 4716
No results found for postal code 4722
No results found for postal code 4723
No results found for postal code 4728
No results found for postal code 4738
No results found for postal code 4739
No results found for postal code 4742
No results found for postal code 4746
No results found for postal code 4750
No results found for postal code 4751
No results found for postal code 4754
No results found for postal code 4756
No results found for postal code 4798
No results found for postal code 4803
No results found for postal code 4806
No results found for postal code 4808
No results found for postal code 4809
No results found for postal code 4815
No results found for postal code 4821
No results found for postal code 4828
No results found for postal code 4855
No results found for postal code 4856
No results found for postal code 4859
No results found for postal code 6032
No results found for postal code 6033
No results found for postal code 6034
No results found for postal code 6068
No results found for postal code 6072
No results found for postal code 6074
No results found for postal code 6077
No results found for postal code 6079
No results found for postal code 6082
No results found for postal code 6083
No results found for postal code 6121
No results found for postal code 6126
No results found for postal code 6181
No results found for postal code 6209
No results found for postal code 6214
No results found for postal code 6221
No results found for postal code 6223
No results found for postal code 6224
No results found for postal code 6228
No results found for postal code 6237
No results found for postal code 6240
No results found for postal code 6243
No results found for postal code 6251
No results found for postal code 6252
No results found for postal code 6309
No results found for postal code 6313
No results found for postal code 6315
No results found for postal code 6322
No results found for postal code 6326
No results found for postal code 6327
No results found for postal code 6343
No results found for postal code 6351
No results found for postal code 6356
No results found for postal code 6357
No results found for postal code 6361

No results found for postal code 6363
No results found for postal code 6365
No results found for postal code 6368
No results found for postal code 6373
No results found for postal code 6384
No results found for postal code 6386
No results found for postal code 6394
No results found for postal code 6397
No results found for postal code 6403
No results found for postal code 6405
No results found for postal code 6411
No results found for postal code 6412
No results found for postal code 6413
No results found for postal code 6414
No results found for postal code 6419
No results found for postal code 6420
No results found for postal code 6421
No results found for postal code 6422
No results found for postal code 6423
No results found for postal code 6424
No results found for postal code 6445
No results found for postal code 6446
No results found for postal code 6447
No results found for postal code 6448
No results found for postal code 6462
No results found for postal code 6463
No results found for postal code 6465
No results found for postal code 6466
No results found for postal code 6467
No results found for postal code 6468
No results found for postal code 6473
No results found for postal code 6476
No results found for postal code 6480
No results found for postal code 6484
No results found for postal code 6485
No results found for postal code 6487
No results found for postal code 6488
No results found for postal code 6489
No results found for postal code 6490
No results found for postal code 6504
No results found for postal code 6505
No results found for postal code 6506
No results found for postal code 6509
No results found for postal code 6512
No results found for postal code 6518
No results found for postal code 6558
No results found for postal code 6564
No results found for postal code 6567
No results found for postal code 6572
No results found for postal code 6574
No results found for postal code 6605
No results found for postal code 6608
No results found for postal code 6612
No results found for postal code 6613
No results found for postal code 6614
No results found for postal code 6625
No results found for postal code 6627
No results found for postal code 6628
No results found for postal code 6631
No results found for postal code 6632
No results found for postal code 6635
No results found for postal code 6639
No results found for postal code 6640
No results found for postal code 6646
No results found for postal code 6705
No results found for postal code 6716
No results found for postal code 7016
No results found for postal code 7022
No results found for postal code 7023
No results found for postal code 7024
No results found for postal code 7027
No results found for postal code 7119
No results found for postal code 7163
No results found for postal code 7174
No results found for postal code 7175
No results found for postal code 7176
No results found for postal code 7177
No results found for postal code 7178
No results found for postal code 7183
No results found for postal code 7185
No results found for postal code 7186
No results found for postal code 7187
No results found for postal code 7211
No results found for postal code 7254
No results found for postal code 7255
No results found for postal code 7257
No results found for postal code 7258
No results found for postal code 7259
No results found for postal code 7267
No results found for postal code 7276
No results found for postal code 7291
No results found for postal code 7466
No results found for postal code 7470

,postcode,instals,estimated_dwellings,density,capacity,capunder10,cap10_100,capover100,countunder10,count10_100,countover100,pot_kw,pot_sqm,pot_gwh,Lat,Lon
0,0800,123,204,34.8,3348,405,2699,244,71,51,1,32376,"207,209",48.4,-12.461182,130.839721
1,0810,3730,10091,35.5,26749,19774,5466,1509,3587,141,2,198075,"1,267,682",297.7,-12.364247,130.878733
2,0812,2060,6486,30.7,13641,11034,2142,465,1993,65,2,101247,"647,978",151.9,-12.400489,130.915936
3,0820,1297,5607,20.0,19964,6959,6752,6253,1123,170,4,188975,"1,209,440",286.2,-12.433743,130.85239
4,0822,1092,9101,9.7,18423,5735,6354,6334,887,194,11,140603,"899,862",214.0,-12.903404,131.206709

In [49]:
data.to_csv("Coordinates.csv")